/*
 *	MEDIA QUERIES
 ------------------------------------------------------ */
@media screen and (min-width: 599px) {
    article {
        max-width: 50%;
    }

    .error-icon {
        right: 22%;
    }
}

@media screen and (min-width: 999px) {
    .img-mobile {
        display: none;
    }

    .img-desktop {
        object-fit: cover;
        display: block;
        height: 100vh;
        max-width: 38.125em;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
    }

    .desktop-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 9em;
        background: url(/assets/images/bg-pattern-desktop.svg) no-repeat, 
            linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
            linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        background-size: cover;
    }

    header {
        padding: 0;
    }

    .logo {
        width: 40%;
    }

    article {
        text-align: left;
        max-width: 80%;
        margin: 0;
    }

    h1 {
        margin: {
            left: 0;
            right: 0;
        }

        font-size: 3.5em;
    }

    .btn-submit {
        width: 6em;
    }

    .error-icon {
        right: 34%;
    }
}

@media screen and (min-width: 1299px) {
    .error-icon {
        right: 28%;
    }
}

@media screen and (min-width: 1445px) {
    article {
        max-width: 60%;
    }

    .img-desktop {
        max-width: 45em;
    }
}