@import url(/assets/css/normalize.css);
@import 'variables';
@import 'general';

/*
 *	SITE HEADER
 ------------------------------------------------------ */
header {
    padding: 2em;
}

.logo {
    width: 30%;
}

/*
 *	CONTENT
 ------------------------------------------------------ */
.img-desktop {
    display: none;
}

 article {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    color: $color-heading;
    font-weight: 600;
    font-stretch: extra-expanded;
    letter-spacing: 0.3em;
    max-width: 80%;
    margin: 2em auto 1em;
}

h1 span {
    font-weight: 300;
    color: $color-text;
}

article p {
    line-height: 1.5em;
    font-size: 0.89em;
}

/* FORM */
form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#email {
    background: transparent;
    color: $color-text;
    border: 0.5px solid lighten($color-text, 15%);
    border-radius: 1.875em;
    padding: 1em;
    width: 100%;

    &:focus {
        border: 1px solid $color-input-invalid;
        outline: none;
    }
}

#error-icon {
    position: absolute;
    right: 26%;
    display: none;
}

.btn-submit {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 1.875em;
    width: 4em;
    height: 3.3em;
    padding: 0;
    position: absolute;
    transition: .3s all ease-in;

    &:hover, &:focus {
        cursor: pointer;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        background: linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 74%, 80%));
    }
}

.arrow {
    width: auto;
}

/* Footer */
.attribution { font-size: 0.6875em; text-align: center; }
.attribution a { color: $color-heading; }

/* Selection style */
h1, h1 span, article p, .attribution, .attribution a, .logo, img {
    &::selection {
        background: $color-heading;
        color: #fff;
    }
}

@import 'mediaQueries';