@import url(/assets/css/normalize.css);
/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: linear-gradient(135deg, white, #fff5f5), linear-gradient(135deg, #f8bfbf, #ee8c8c);
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

/*
 *	SITE HEADER
 ------------------------------------------------------ */
header {
  padding: 2em;
}

.logo {
  width: 30%;
}

/*
 *	CONTENT
 ------------------------------------------------------ */
.img-desktop {
  display: none;
}

article {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: #413a3a;
  font-weight: 600;
  font-stretch: extra-expanded;
  letter-spacing: 0.3em;
  max-width: 80%;
  margin: 2em auto 1em;
}

h1 span {
  font-weight: 300;
  color: #ce9797;
}

article p {
  line-height: 1.5em;
  font-size: 0.89em;
}

/* FORM */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#email {
  background: transparent;
  color: #ce9797;
  border: 0.5px solid #e7cbcb;
  border-radius: 1.875em;
  padding: 1em;
  width: 100%;
}

#email:focus {
  border: 1px solid #f96262;
  outline: none;
}

.error-icon {
  display: none;
  width: 1.5625em;
  position: relative;
  right: 26%;
}

.error-msg {
  display: none;
  color: #f96262;
}

.error-show {
  display: block;
}

.btn-submit {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 1.875em;
  width: 4em;
  height: 3.3em;
  padding: 0;
  position: absolute;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.btn-submit:hover, .btn-submit:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #fad1d1, #f2a6a6);
}

.arrow {
  width: auto;
}

/* Footer */
.attribution {
  font-size: 0.6875em;
  text-align: center;
}

.attribution a {
  color: #413a3a;
}

/* Selection style */
h1::-moz-selection, h1 span::-moz-selection, article p::-moz-selection, .attribution::-moz-selection, .attribution a::-moz-selection, .logo::-moz-selection, img::-moz-selection {
  background: #413a3a;
  color: #fff;
}
h1::selection, h1 span::selection, article p::selection, .attribution::selection, .attribution a::selection, .logo::selection, img::selection {
  background: #413a3a;
  color: #fff;
}

/*
 *	MEDIA QUERIES
 ------------------------------------------------------ */
@media screen and (min-width: 599px) {
  article {
    max-width: 50%;
  }
  .error-icon {
    right: 22%;
  }
}

@media screen and (min-width: 999px) {
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    height: 100vh;
    max-width: 38.125em;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .desktop-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 9em;
    background: url(/assets/images/bg-pattern-desktop.svg) no-repeat, linear-gradient(135deg, white, #fff5f5), linear-gradient(135deg, #f8bfbf, #ee8c8c);
    background-size: cover;
  }
  header {
    padding: 0;
  }
  .logo {
    width: 40%;
  }
  article {
    text-align: left;
    max-width: 80%;
    margin: 0;
  }
  h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.5em;
  }
  .btn-submit {
    width: 6em;
  }
  .error-icon {
    right: 34%;
  }
}

@media screen and (min-width: 1299px) {
  .error-icon {
    right: 28%;
  }
}

@media screen and (min-width: 1445px) {
  article {
    max-width: 60%;
  }
  .img-desktop {
    max-width: 45em;
  }
}
/*# sourceMappingURL=main.css.map */